/* Classes
========================================================================== */
.clear {
    @extend %clearfix;
}
%center {
    margin: 0 auto;
}
%trbl {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
%full-size {
    width: 100%;
    height: 100%;
}


/* Containers
========================================================================== */
.container {
    --spacing: var(--margin-side);
    position: relative;
    width: 100%;
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--spacing) + env(safe-area-inset-left));
    padding-right: calc(var(--spacing) + env(safe-area-inset-right));

    @include bp (sm) {
        padding-left: var(--spacing);
        padding-right: var(--spacing);
    }

    // Variant: Inner margins (smaller)
    &.is-inner {
        --spacing: var(--margin-inner);
    }
}
